.step-text{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.form-group input{
    padding: 10px;
    background-color: rgb(209, 252, 183);
    border: 1px solid rgb(153, 146, 146);
    min-width: 300px;
}

.submit{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-bottom: 20%; 
    */
    margin-top: 100px;
    margin-right: 30px;
  
}
 button{
    background: #AFEEEE;
    border: .5px solid black;
    border-radius: 7%;
    padding: 10px;
    cursor: pointer;
}

